@use "sass:color";
@use "variables" as vars;
@use "mixins" as mx;

.faq-page {
  .section-page {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    @include mx.breakpoint(md) {
      gap: 2rem;
    }

    .left-col {
      color: vars.$light-color;
      @include mx.breakpoint(lg) {
        flex: 0 0 340px;
      }
    }

    .right-col {
      flex: 1;
      background-color: vars.$light-color;
      border-radius: vars.$border-radius-md;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      padding: 1.5rem;

      @include mx.breakpoint(md) {
        padding: 2rem;
      }

      .faq-list {
        .faq-item {
          border-bottom: 1px solid vars.$primary-color;

          &:last-child {
            border-bottom: none;
          }

          .faq-question {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem;
            font-size: 1rem;
            font-weight: bold;
            color: vars.$dark-color;
            cursor: pointer;
            transition: background-color 0.2s ease;

            @include mx.breakpoint(md) {
              font-size: 1.1rem;
            }

            .faq-icon {
              font-size: 1.2rem;
              font-weight: bold;
              color: vars.$primary-color;
              margin-left: 1rem;
              @include mx.breakpoint(md) {
                font-size: 1.5rem;
              }
            }

            &:hover {
              background-color: vars.$primary-color;
              color: vars.$light-color;
              .faq-icon {
                color: vars.$light-color;
              }
            }
          }

          .faq-answer {
            padding: 1rem;
            font-size: 1rem;
            line-height: 1.5;
            color: vars.$dark-color;
            background-color: vars.$light-color;
          }

          &.active {
            .faq-question {
              background-color: vars.$primary-color;
              color: vars.$light-color;

              .faq-icon {
                color: vars.$light-color;
              }
            }
          }
        }
      }
    }
  }
}
