@use "mixins" as mx;

.header {
  position: relative;
  padding: 2rem 0;

  @include mx.breakpoint(lg) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0;
  }

  &__link {
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    color: inherit;
  }

  &__text {
    font-size: 2rem;
    font-weight: 300;
    margin-left: 0.5rem;
    word-spacing: -5px;
    text-transform: lowercase;

    &--strong {
      font-weight: 900;
    }
  }
}
