@use "mixins" as mx;

.hero {
  &__title {
    margin-bottom: 1rem;
    max-width: 22ch;
    font-size: 3.4rem;
    font-weight: 500;
  }

  &__text {
    max-width: 52ch;
    font-size: 1.35rem;
    font-weight: 400;
    line-height: 1.6;
  }
}
