@use "sass:color";
@use "variables" as vars;
@use "mixins" as mx;

.tip-block {
  background-color: color.scale(vars.$highlight-color, $lightness: 95%);
  border-left: 6px solid vars.$primary-color;
  padding: 1.5rem;
  margin: 2rem 0;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

  @include mx.breakpoint(md) {
    margin: 3rem 0;
  }

  h3 {
    margin: 0 0 0.75rem;
    color: vars.$primary-color;
    font-size: 1.25rem;
    font-weight: 700;
    @include mx.breakpoint(md) {
      font-size: 1.4rem;
    }
  }

  p {
    margin-bottom: 1rem;
    color: vars.$dark-color;
    line-height: 1.5;

    code {
      background-color: color.scale(vars.$highlight-color, $lightness: 60%);
      padding: 0.2rem 0.4rem;
      border-radius: 3px;
    }
  }
  pre {
    background-color: vars.$background-color;
    padding: 0.5rem;
    margin-bottom: 1rem;
    overflow: auto;
    font-size: 0.9rem;
  }
}
