/* Colors */

// $primary-color: #2b2862;
// $secondary-color: #606dfe;
// $tertiary-color: #fdbaff;
$primary-color: #3a3678;
$secondary-color: #5e7dff;
$tertiary-color: #fbc6e5;

$text-color: #3a3678;
$background-color: #f2f2f2;

/* Fonts */
$font-family: "Roboto", sans-serif;
