@use "../variables" as vars;
@use "../mixins" as mx;

.menu {
  &__link {
    position: relative;
    display: block;
    padding: 0.8rem;
    font-weight: 500;
    font-size: 1.1rem;
    color: vars.$primary-color;
    text-decoration: none;

    .menu--open & {
      color: vars.$light-color;
    }

    &:hover {
      text-decoration: underline;
    }

    @include mx.breakpoint(lg) {
      padding: 10px 0;
      &:after {
        content: "";
        position: absolute;
        bottom: 5px;
        left: 0;
        width: 0;
        height: 2px;
        background-color: vars.$primary-color;
        transition: width 0.3s ease;
      }

      &:hover:after {
        width: 100%;
      }

      &:hover {
        text-decoration: none;
      }
    }
  }
}
