@use "mixins" as mx;

.hero {
  &__title {
    margin-bottom: 1rem;
    max-width: 22ch;
    font-size: clamp(2.5rem, 5vw, 3.2rem);
    font-weight: 600;
  }

  &__text {
    max-width: 52ch;
    font-size: clamp(1.125rem, 2vw, 1.35rem);
    font-weight: 400;
    line-height: 1.6;
  }
}
