@use "sass:color";
@use "variables" as vars;
@use "mixins" as mx;

.not-found {
  text-align: center;
  padding: 3rem 1rem;

  @include mx.breakpoint(md) {
    padding: 4rem 2rem;
  }

  &__title {
    position: relative;
    display: flex;
    justify-content: center;
    font-size: clamp(4.5rem, 8vw, 6rem);
    font-weight: bold;
    color: vars.$primary-color;
    margin: 0 0 1rem;
    animation: bounce 1s infinite;
    &::after {
      content: "🏖️";
      font-size: 2.5rem;
    }
  }

  &__text {
    font-size: 1.125rem;
    line-height: 1.6;
    color: vars.$dark-color;
    margin-bottom: 1.25rem;

    @include mx.breakpoint(md) {
      font-size: 1.25rem;
      margin-bottom: 1.5rem;
    }

    code {
      background-color: vars.$highlight-color;
      color: vars.$dark-color;
      padding: 0.2rem 0.4rem;
      border-radius: 4px;
      font-weight: bold;
    }
  }

  &__link {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: vars.$secondary-color;
    color: vars.$light-color;
    text-decoration: none;
    border-radius: 50px;
    font-weight: bold;
    font-size: 1rem;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    &:hover {
      transform: scale(1.05);
    }
  }

  @keyframes bounce {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
}
