@use "variables" as vars;
@use "mixins" as mx;

.gallery {
  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 1rem;
    justify-items: center;
    @include mx.breakpoint(sm) {
      grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    }

    &.no-dimensions {
      .gallery__item {
        aspect-ratio: unset;
      }
    }

    &.css-background {
      .gallery__item {
        background-size: cover;
        background-position: center;
        width: 100%;
        aspect-ratio: 4/3;
      }

      .gallery__item:nth-child(1) {
        background-image: url("/assets/images/image1.jpg");
      }

      .gallery__item:nth-child(2) {
        background-image: url("/assets/images/image2.jpg");
      }

      .gallery__item:nth-child(3) {
        background-image: url("/assets/images/image3.jpg");
      }

      .gallery__item:nth-child(4) {
        background-image: url("/assets/images/image4.jpg");
      }

      .gallery__item:nth-child(5) {
        background-image: url("/assets/images/image5.jpg");
      }

      .gallery__item:nth-child(6) {
        background-image: url("/assets/images/image6.jpg");
      }
    }
  }

  &__item {
    width: 100%;
    aspect-ratio: 4/3;
    box-shadow: 0 4px 8px rgba(vars.$primary-color, 0.2);
    border-radius: vars.$border-radius-md;
  }

  &__credit {
    margin-top: 1rem;
    font-size: 0.875rem;

    .-external {
      font-size: 1rem;
    }
  }
}
